:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}

body{
    z-index: 5  ;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;  
    position: absolute;
    overflow-x:hidden;
    overflow-y:hidden;
}

a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

a:focus{
    outline: none;
}

nav{
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    color: var(--blue);
    background-color:white;
    box-shadow: 2px 0px 5px black;
}

nav p{
    margin-top: 0.5rem;
}

nav p:hover{
    cursor: pointer;
}

.ps{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

nav p:nth-child(2){
    margin-left: 2rem;
}

nav p:nth-child(3){
    padding-left: 2rem;
}

nav p:last-child{
    margin-left: 2rem;
}

#brand-icon-blue{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--blue);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#brand-icon-yellow{
    z-index: 1;
    position:absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: var(--yellow);
    margin-left: 1.5rem;
    margin-top: -2rem;
}

.center-div{
    margin-left: 32rem;
    margin-top: 8em;
    width: 20rem;
    height: 23rem;
    border-radius: 0.5rem;
    background-color: var(--blue);
    box-shadow: 0px 10px 50px black;
}

.center-div h1{
    position: absolute;
    margin-left: 1.8rem;
    margin-top: 1rem;
    color: white;
}

.center-div p{
    z-index: 1;
    margin-top: 0rem;
}

.inner-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 4rem;
}

.inner-div input{
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem; 
    margin-bottom: 2rem;
    border: none;
}

.inner-div input::placeholder{
    color: grey;
    padding-left: 0.5rem;  
}

.inner-div input:focus::placeholder{
    color: transparent;
}

.inner-div p{
    margin-bottom: 0.5rem;
}

.inner-div input:focus{
    outline: none;
}

.text-div{
    position: fixed;
    margin-top: 16rem;
    font-size: 0.8rem;
    margin-left: 2rem;
}

.security{
    color: white;
    text-decoration: underline;
}

.security:hover{
    cursor:pointer;
}

.login-span{
    color: var(--yellow);
    text-decoration: noe;
}

.left-yellow{
    width: 40rem;
    height: 40rem;
    background-color: var(--yellow);
    transform: rotate(30deg);
    margin-left: -15rem;
}

.right-yellow{
    position: absolute;
    width: 50rem;
    height: 60rem;
    margin-left: 67rem;
    margin-top: -60rem;
    transform: rotate(30deg);
    background-color: var(--yellow);
}

.blue-round-one{
    position: absolute;
    background-color: var(--blue);
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
    margin-top: -25rem;
    margin-left: 5rem;
    box-shadow: 2px 0px 5px black;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-time-function: linear;
}

.blue-round-one img{
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
    object-fit: cover;
    margin-left: 0.0rem;
    margin-top: 0.0rem;
}

.blue-round-two{
    position: absolute;
    background-color: var(--blue);
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    margin-top: -10rem;
    margin-left: 20rem;
    box-shadow: 2px 0px 5px black;
    animation-name: bounce-two;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-time-function: linear;
}

.blue-round-three{
    position: absolute;
    background-color: var(--blue);
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin-top: -15rem;
    margin-left: 60rem;
    box-shadow: 2px 0px 5px black;
    animation-name: bounce-three;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-time-function: linear;
}

.blue-round-three img{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    object-fit: cover;
}

@keyframes bounce{
    from{
        margin-top: -24rem;
    }

    to{
        margin-top: -25rem;
    }
}

@keyframes bounce-two{
    from{
        margin-top: -9rem;
    }

    to{
        margin-top: -11rem;
    }
}

@keyframes bounce-three{
    from{
        margin-top: -15.5rem;
    }

    to{
        margin-top: -14rem;
    }
}